<!-- this is the start page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
</head>
<body>
    <ul>
        <li><a href="{% url 'dfs' %}">Perform DFS</a></li>
        <li><a href="{% url 'a_star' %}">Perform A*</a></li>
        <li><a href="{% url 'centrality' %}">Find Degree Centrality</a></li>
        <li><a href="{% url 'radialDFS' %}">Radial DFS</a></li>
    </ul>
</body>
</html>